h1{
  color: rgb(0, 255, 0);
  font-size: 30px;
  border-bottom:3px blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  text-align: center;
  font-family: fantasy ;
  color: thistle;
}
body{

  font-family: fantasy;
}
h3{
  text-align: left;
  text-decoration: thistle;
  font-family: fantasy;
}
.author{
  font-size: 22px;
  font-family:fantasy ;
}
.cube{
  font-size: 22px;
  font-family: fantasy;
  background-color: rgb(4, 0, 255);
  width: 950px;
  float:right;
  margin: 20px;
  
}
.outdoor{
  color: darkred;
}
img{
  float:left;
  border-radius: 400px ;
  border: 2px solid black;
}
.potato{
  width: 700px;
  float: left;
  background-color: rgb(27, 192, 233);
  border: 3px solid black;
}
.zawadi{
  width: 700px;
  float: right;
  background-color: rgb(0, 225, 255);
  border: 3px solid black;
}

.background{
  display: inline-block;
  width: 28%;
  margin: 3%;
  text-align: center;
  box-shadow: 0 0 14px 1px rgba(13, 72, 213, 1);
  background-color: rgb(0, 255, 64);
  color: black;
  padding: 5px;
  width: 90%;
  margin-right: 2%;
  height: 130%;
}
.home nav ul li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 22px;
}
.home{
  text-align: center;
  width: 100%;
  padding-top: 20px;
  background-color: blue;
}
.footer{
  text-align: center;
  width: 100%;
  padding-top: 20px;
  background-color: blue;
}


